/* navigation section */
body{
    background-color: red;
}

/* heading section */
#heading{
    font-size: 25px;
}

/* Navigation bar: List styling */

.item {
    padding: 10px 35px;
}

/* home section */

/* deal zone section */

/* sofa section */

/* bedroom section */

/* dining section */

/* study section */

/* outdoor section */

/* interior section */

/* trending section */

/* footer section */

/* utility class */

