

/* navigation section */
/* #navbar{
    flex-direction: column;
} */
/* heading section */
@media only screen and (max-width: 1139px){
    #heading{
        font-size: 21px;
    }
}



/* Navigation bar: List styling */

.item {
    padding: 7px 10px;
}

#search input {
    width: 411.025px;
}

#navbar ul div li a{
    font-size: 13px;
    padding: 3px 7px;
    border-radius: 14px;
}

#navbar ul div li a:hover{
    font-size: 18px;
    padding: 4px 13px;
    box-shadow: 4px 4px rgba(137, 29, 203, 0.8);
}

/* home section */

#Home p{
    font-size: 20px;
}

/* .border img{
    height: 315px;
    margin: 28.8px 0 16px;
} */
.one,
.second,
.third,
.fourth,
.fifth,
.sixth,
.seventh,
.eighth,
.footerblock {
    flex-wrap: wrap;
}
/* deal zone section */
.one .box img{
    height: 200px;
    width: 241.7px;
} 

#anomaly1 img{
    width: 362.575px;
}

/* sofa section */
.second .box img {
    height: 200px;
    width: 272px;
}

/* bedroom section */
/* .third .box img {
    height: 173px;
} */

/* dining section */
/* .fourth .box img {
    height: 186px;
} */

/* study section */
.fifth .box img {
    height: 200px;
}

#anomaly2 img{
    width: 167.34px;
}

#anomaly3 img{
width: 376.49px;
}

#anomaly4 img{
    width: 376.49px;
}

#anomaly5 img{
    width: 167.34px;
}
/* outdoor section */
.sixth .box img {
    height: 198px;
}

#anomaly6 img{
    width: 310.8px;
}

#anomaly7 img{
    width: 155.4px;
}

#anomaly8 img{
    width: 310.8px;
}

#anomaly9 img{
    width: 310.8px;
}
/* interior section */
/* .seventh .box img {
    height: 190px;
} */

/* trending section */
/* .eighth .box img {
    height: 183px;
} */

/* footer section */
footer {
    font-size: 15px;
}

.divide{
    padding: 40px 0 15px 0;
}

.common {
    padding: 14px 15px;
    margin: 14px;
    font-size: 10px;
    border-radius: 8px;
}

.block {
    width: 256px;
    margin: 0px 0px;
    padding: 15px 0px 0 0px;
}

.block-links{
    font-size: 10px;
}

.foot-logos img{
    height: 45px;
}

/* utility class */
.primary {
    font-size: 35px;
}

.center {
    height: 85vh;
    padding: 60px 56px;
}

@media only screen and (max-width: 852px){
    .center {
        padding: 60px 10px;
    }
}

.box {
    padding: 0px 30px 25px;
}

@media only screen and (max-width: 1023px){
    /* Navigation bar: List styling */
    #navbar{
        flex-direction: column;
        height: 90px;
    }

    /* heading section */
    #heading{
        /* height: 103px; */
        font-size: 12.8px;
        margin: 0px 0px 0px 20px;
        padding: 5px;
    }

    #navbar ul{
        margin-top: 0px;
    }

    #navbar ul .tags {
        display: flex;
        flex-wrap: wrap;
        height: 38px;
    }

    #navbar ul div li a {
        font-size: 4px;
        padding: 0px 7px;
        border-radius: 8px;
    }

    #navbar ul div li a:hover {
        font-size: 8px;
        padding: 2px 8px;
        box-shadow: 2px 2px rgba(137, 29, 203, 0.8);
    }
    
    .item {
        padding: 5px 7.5px;
    }

    #search {
        height: 15px;
    }

    #search input {
        width: 270px;
    }

    #navbar input {
        padding: 7px;
        font-size: 8px;
        border-radius: 6px;
    }


    /* home section*/
    #Home p {
        font-size: 8px;
    }

    .border img {
        height: 230px;
        margin-top: 12px;
        margin-bottom: 14px;
    }

    /* deal zone section */
    .one .box img{
        height: 100px;
        width: 114.7px;
    } 

    #anomaly1 img{
        width: 162.575px;
    }

    /* footer section */
    footer {
        letter-spacing: 3px;
        font-size: 10px;
        padding: 0 0 5px 0;
    }

    .divide {
        padding: 20px 0 10px 0;
    }
    
    .common {
        padding: 10px 5px;
        margin: 8px;
        font-size: 8px;
    }

    footer input {
        width: 160px;
    }

    button {
        letter-spacing: 3px;
    }

    .block {
        width: 220px;
        padding: 10px 0px 0 0px;
    }

    .foot-head {
        margin-bottom: 5px;
    }

    .block-links {
        font-size: 8px;
    }

    #foot-head-logo {
        margin-bottom: 5px;
    }

    .foot-logos img {
        height: 30px;
    }

    /* utility class */
    .primary {
        font-size: 20px;
    }

    .center {
        padding: 20px 0px;
    }
}
