/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

#container {
    display: flex;
    flex-direction: column;  
    /* width:100%; */
    /* background-image: url('/My-Furniture-Shop.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center; */
    position: relative;
  
}

#container::before {
    content: "";
    background: url('./background/My-Furniture-Shop.png') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.87;
}

/* navigation bar*/
#navbar {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    /* background-color: black; */
    /* position: relative; */
    z-index: 2;
    position: sticky;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

/* heading section */
#heading {
    margin:8px;
    margin-left: 30px;
    padding: 5px;
    font-family: 'Bree Serif', serif;
    color: rgb(143, 104, 46);
    text-shadow: 5px 5px 10px rgb(143, 104, 46);
    background-color: antiquewhite;
    font-size: 49.6px;
    transition: all 0.5s ease-in-out;
}

#heading:hover {
    color: antiquewhite;
    text-shadow: 5px 5px 10px rgb(60, 59, 56);
    background-color: rgb(221, 200, 84);
    cursor: pointer;
}

/* Navigation bar: List styling */

#navbar ul div {
    display: flex;
}

#navbar ul {
    font-family: 'Baloo Bhai 2', cursive;
    margin-top: 7px;
    margin-left: auto;
}

#navbar ul li {
    list-style: none;
}

#navbar ul div li a {
    display: block;
    font-size: 22.4px;
    color: rgb(157, 97, 214);
    padding: 3px 15px;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

#navbar ul div li a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(176, 153, 190);
    padding: 6px 18px;
    font-size: 32px;
    box-shadow: 5px 5px rgba(137, 29, 203, 0.8);
    text-shadow: 3px 2px 5px black;
}

.item {
    padding: 10px 38px;
}

#search input {
    width: 50%;
    outline: none;
}


#navbar input {
    line-height: 2;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
}

/* home section*/
#Home p {
    color: beige;
    font-size: 28.8px;
    font-family: 'Bree Serif', serif;
    text-align: center;
    text-shadow: 8px 6px 10px rgb(50, 30, 5);
}

.border img {
    height: 432px;
    width: auto;
    margin-top: 28.8px;
    margin-bottom: 16px;
    transition: all 0.5s ease;
}

.border img:hover {
    transform: scale(1.05);
    box-shadow: 7px 5px 10px gold;
}

.one,
.second,
.third,
.fourth,
.fifth,
.sixth,
.seventh,
.eighth,
.footerblock {
    display:flex;
    align-items: center;
}

/* deal zone section */

.one .box img{
    display: block;
    margin: auto;
    height: 380px;
}

/* sofa section */

.second .box img {
    display: block;
    margin: auto;
    height: 427.5px;
}

/* bedroom section */

.third .box img {
    display: block;
    margin: auto;
    height: 260px;
}

/* dining section */

.fourth .box img {
    display: block;
    margin: auto;
    height: 278.5px;
}

/* study section */

.fifth .box img {
    display: block;
    margin: auto;
    height: 395px;
}

/* outdoor section */

.sixth .box img {
    display: block;
    margin: auto;
    height: 325.5px;
}

/* interior section */

.seventh .box img {
    display: block;
    margin: auto;
    height: 285.5px;
}

/* trending section */

.eighth .box img {
    display: block;
    margin: auto;
    height: 273.5px;
}

/* footer section */
footer {
    text-align: center;
    letter-spacing: 4px;
    padding: 0 0 34px 0;
    font-size: 30px;
    font-weight: bold;
}

.divide{
    border-top: 3px dotted rgba(75, 60, 20, 0.8);
    border-bottom: 3px dotted rgba(75, 60, 20, 0.8);
    padding: 100px 0 32px 0;
    text-transform: uppercase;
}

.common {
    padding: 22px 24px;
    margin: 30px;
    font-size: 18px;
    border-radius: 8px;
    outline: none;
}

footer input {
    width: 300px;
}

button {
    border-style: solid;
    border-width: 0;
    color: #FFFFFF;
    background-color: #ED7745;
    letter-spacing: 4px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 300ms ease;
}

button:hover {
    background-color: #f5682c;
}

.footerblock{
    align-items: center;
    justify-content: center;
}

.block{
    width:305px;
    margin: 0px 80px;
    padding: 65px 30px 0 30px;
}

.foot-head{
    margin-bottom:10px ;
}

#foot-head-logo{
    margin-bottom: 10px;
}
.block-links{
    color: #1e0b01;
    font-family: 'Vesper Libre';
    font-size: 16px;
    list-style: none;
    cursor: pointer;
}

.block-links li:hover{
    color: rgb(238, 233, 188);
}

.foot-logos{
    list-style: none;
}
.foot-logos img{
    height: 67px;
    cursor: pointer;
}

/* utility class */
.primary {
    color: khaki;
    text-shadow: 8px 6px 10px rgb(14, 9, 5);
    font-size: 70px;
    font-family: 'Vesper Libre';
    cursor: pointer;
    text-decoration: overline;
}

.center {
    display: flex;
    flex-direction: column;
    padding: 59px 109.64px;
    justify-content: end;
    align-items: center;
    height: 75vh;
}

.box {
    padding: 0px 35px 40px ;
    box-sizing: border-box;
}

.box img{
    transition: all 0.7s ease;
}
.box img:hover {
    transform: scale(1.15);
    z-index: 1;
    box-shadow: 7px 5px 10px rgb(255, 226, 59);
    cursor: pointer;
}